@CHARSET "UTF-8";

body{
	font-size: 10px;
	font-family: Arial;
	margin: 1%;
	color: #868686;
	background-color: #f8f8f8;

	scrollbar-face-color: #FFFFFF;
	scrollbar-highlight-color: #B0BBDB;
	scrollbar-shadow-color: #B0BBDB;
	scrollbar-3dlight-color: #FFFFFF;
	scrollbar-arrow-color: #B0BBDB;
	scrollbar-track-color: #FFFFFF;
	scrollbar-darkshadow-color: #FFFFFF; 
}


div.titulo{
	font-size: 20px;
	font-weight: bold;
	color: blue;
}

a.menu:link, a.menu:visited{
	font-size: 12px;
	color: blue;

}
a.menu:hover, a.menu:active{
	color: #5f6614;
}

a.titulo:link, a.titulo:visited{
	font-size: 20px;
	font-weight: bold;
	color: blue;

}
a.titulo:hover, a.titulo:active{
	font-size: 20px
	color: #5f6614;
}

legend.titulo{
	font-size: 14px;
	color: #000000;
	font-weight: bold;
}

#tabladatos{
	width: 90%;
	background-color: #FFFFFF;
	font-size: 12px;
}
.tabladatos{
	width: 90%;
	background-color: #FFFFFF;
}
td.tdid{
	width: 5px;
	border-bottom: solid 1px #E6E6E6;
}
td.tddatosid{
	font-size: 10px;
	color: #000000;
}
td.tdnombre{
	width: 40%;
	border-bottom: solid 1px #E6E6E6;
}
td.tddatosnombre{
	font-size: 12px;
	color: #000000;
}
td.tdprovincia{
	width: 20%;
	border-bottom: solid 1px #E6E6E6;
}
td.tddatosprovincia{
	font-size: 12px;
	color: #000000;
}
td.tdlatitud{
	width: 15%;
	border-bottom: solid 1px #E6E6E6;
}
td.tdlongitud{
	width: 15%;
	border-bottom: solid 1px #E6E6E6;
}
td.tddatoslat{
	font-size: 10px;
	color: #000000;
}

td.tdver{
	width: 5%;
	border-bottom: solid 1px #E6E6E6;
}

label{
	font-size: 10px;
	text-align: right;
	width: 30px;
}

input.grande{
	font-size: 11px;
	color: #000000;
	width: 50%;
}
input.mediano{
	font-size: 11px;
	color: #000000;
	width: 30%;
}f
input.corto{
	font-size: 11px;
	color: #000000;
	width: 10%;
}

div.contenedor{
	clear:both;;
}
div.camposjuntos{
	float:left;
	padding-left: 20px;
}
